@font-face {
  font-family: "iconfont"; /* Project id 2744780 */
  src: url('iconfont.woff2?t=1628922252660') format('woff2'),
       url('iconfont.woff?t=1628922252660') format('woff'),
       url('iconfont.ttf?t=1628922252660') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e6c8";
}

.icon-dengluyonghuming:before {
  content: "\e611";
}

